{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>Hello {{ controller_name }}! ✅</h1>
            </div>
        </div>
    </div>
{% endblock %}
