{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="grid-container">
        <h2>Latest snipps</h2>
        {% include 'snippets/_snippet-list.html.twig' %}
        <hr>
        <h2>Latest languages</h2>
        {% include 'languages/_languages-list.html.twig' %}
    </div>
{% endblock %}
