{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="grid-container">
        <h1>Snippets</h1>
        {% include 'snippets/_snippet-list.html.twig' %}
    </div>
{% endblock %}
