{% extends 'base.html.twig' %}

{% block title %}Editer un language{% endblock %}

{% block body %}
    <div class="grid-container">
        <h2>Editer un language</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="button">Valider</button>
        <a href="{{ path('admin.snippet.index') }}" class="button" style="display: inline-block;">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
